{{> header }}
<style>
  .centered {
    padding: 1%;
    align-self: center;
    display: flex;
  }
</style>
<main role="main" class="inner cover">
  <h1 class="cover-heading jumbotron bg-warning container">{{title}}</h1>
  {{#if error}}
  {{#each error}}
  <div class="alert alert-danger">{{this.msg}}</div>
  {{/each}}
  {{/if}}
  <p class="lead">
    <div class="container .text-*-center">
      <h1>Hello, {{name}} weclome back.</h1>
      <h1>Items you currently have listed</h1>
      <div class="container .text-*-center">
        {{#each item}}
        <div class="card container .text-*-center">
          <div class="card-body">
            <h4 class="card-title text-*-center">{{this.name}}</h4>
            <p class="card-text text-*-center">Desctiption: {{this.description}}</p>
            <p class="card-text text-*-center">Quantity: {{this.quantity}}</p>
            <p class="card-text text-*-center">Item ID: {{this.ID}}</p>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </p>
</main>
{{> footer }}